:root,
::backdrop
{
    color-scheme: light dark;
    font-family: system-ui, -apple-system, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.2em;
}

li
{
    transition: opacity 100ms ease-in-out;
}

ul:focus-visible
{
    outline: none;
}

li:not(:focus-visible)
{
    opacity: 0.8;
}

li[data-completed="true"]
{
    text-decoration: line-through;
    opacity: 0.5;
}
