:root,
::backdrop
{
    color-scheme: light dark;
    font-family: system-ui, -apple-system, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.2em;
}

.height-tester-container
{
    margin: 0;
    height: 0;
    overflow: hidden;
}

li
{
    transition:
        opacity, color 150ms ease-in-out,
        text-decoration-color 100ms ease-in-out;
    white-space: pre-wrap;
}

li:focus-visible
{
    outline: none;
}

li:not(:focus-visible)
{
    opacity: 0.8;
}

li.completed
{
    text-decoration: line-through;
    text-decoration-color: #888;
    text-decoration-color: light-dark(#333, #aaa);
    color: #888;
}

@starting-style
{
    li.completed
    {
        text-decoration-color: transparent;
    }
}
